<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Admin portal</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTitle]="isCollapsed ? 'Dashboard' : ''" nzSelected="{{is_home_selected}}">
        <i nz-icon nzType="dashboard"></i>
        <span>Dashboard</span>
        <a routerLink="/home"></a>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTitle]="isCollapsed ? 'User' : ''" nzSelected="{{is_user_selected}}">
        <i nz-icon nzType="user"></i>
        <span>User</span>
        <a routerLink="/user"></a>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTitle]="isCollapsed ? 'Film' : ''" nzSelected="{{is_film_selected}}">
        <i nz-icon nzType="youtube"></i>
        <span>Film</span>
        <a routerLink="/film"></a>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTitle]="isCollapsed ? 'Category' : ''" nzSelected="{{is_category_selected}}">
        <i nz-icon nzType="tag"></i>
        <span>Category</span>
        <a routerLink="/category"></a>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTitle]="isCollapsed ? 'Inform' : ''" nzSelected="{{is_inform_selected}}">
        <i nz-icon nzType="mail"></i>
        <span>Inform</span>
        <a routerLink="/inform"></a>
      </li>
      <!-- <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTitle]="isCollapsed ? 'Inform' : ''">
        <i nz-icon nzType="logout"></i>
        <span>Logout</span>
      </li> -->
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <span nz-text><b>Quản trị viên: Nam nguyễn</b></span>
        <button nz-button (click)="logout()" [nzSize]="small" nzType="dashed"> <i nz-icon nzType="logout"></i>Logout</button>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
