.demo-loadmore-list {
    min-height: 350px;
  }
  .loadmore {
    text-align: center;
    margin-top: 12px;
    height: 32px;
    line-height: 32px;
  }

  .ant-advanced-search-form {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
  }

  [nz-form-label] {
    overflow: visible;
  }

button {
    margin-left: 8px;
  }

  .collapse {
    margin-left: 8px;
    font-size: 12px;
  }

  .search-area {
    text-align: right;
  }

  nz-select nz-date-picker {
    width: 100%;
  }

.disable_delete:hover{
  cursor: not-allowed;
}
